<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   KurozoraWidget.entitlements
   Kurozora

   Created by Georgios Sotiropoulos on 7/9/24.
   Copyright (c) 2024 Kurozora. All rights reserved.
-->
<plist version="1.0">
<dict/>
</plist>
